.btn {
width: 145px;/*按钮控件的宽度*/
position:relative; left:0.3%; top:10%;
line-height: 120%;/*用百分比设置行高*/
padding-top: 0.5em;/*文本顶部的内边距*/
padding-right: 2em;/*文本右侧的内边距*/
padding-bottom: 0.55em;/*文本底部的内边距*/
padding-left: 2em;/*文本左侧的内边距*/
font-family: "Arial Black", Gadget, sans-serif;/*字体*/
font-size: 16px;/*字体大小*/
font-style: normal;/*字体样式*/
font-variant: normal;/*小写字母*/
font-weight: normal;/*文本不需要加粗*/
text-decoration: none;/*文本不需要下划线等*/
margin-top: 0px;/*外边框的距离*/
margin-right: 2px;/*外边框的距离*/
margin-bottom: 0px;/*外边框的距离*/
margin-left: 2px;/*外边框的距离*/
vertical-align: text-bottom;/*图像放在文本下面*/
display: inline-block;/*段落内生出内框*/
cursor: pointer;/*鼠标的形状*/
zoom:1;
outline-width:medium;/*整个轮廓的宽度*/
outline-color:#FFFFFF;/*轮廓的颜色*/
font-size-adjust:none;
font-stretch:normal;
border-top-left-radius:0.5em;/*圆角边框弧度*/
border-top-right-radius:0.5em;/*圆角边框弧度*/
border-bottom-left-radius:0.5em;/*圆角边框弧度*/
border-bottom-right-radius:0.5em;/*圆角边框弧度*/
/*box-shadow:0px 1px 2px rgba(0,0,0,0.2);给按钮增加阴影*/
color:	#0000FF	;/*设置文本的颜色*/
border-top-color:#FFFFFF;/*边框的颜色*/
border-right-color:	#FFFFFF;/*边框的颜色*/
border-bottom-color:#FFFFFF;/*边框的颜色*/
border-left-color:	#FFFFFF;/*边框的颜色*/
border-top-width:1px;/*边框的粗细*/
border-right-width:1px;/*边框的粗细*/
border-bottom-width:1px;/*边框的粗细*/
border-left-width:1px;/*边框的粗细*/
border-top-style:solid;/*边框的样式*/
border-right-style:solid;/*边框的样式*/
border-bottom-style:solid;/*边框的样式*/
border-left-style:solid;/*边框的样式*/
background-image:none;/*背景图片*/
background-attachment:scroll;/*背景图片是否移动*/
background-repeat:repeat;/*允许重复*/
background-position-x:0%;/*背景的x轴坐标*/
background-position-y:0%;/*背景的y轴坐标*/
background-size:auto;/*背景图片的尺寸*/
background-origin:padding-box;/*背景图像相对于内边距框来定位*/
background-clip:padding-box;/*背景被裁剪到内边距框*/
background-color:#FFFFFF;/*背景颜色*/
}
.btn {
background-color: 	#FFFFFF;
}
